@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card shadow feedback">
    <div class="row">
        <div class="access col-md-12">
            <i class="ri-indeterminate-circle-line"></i>
            <h1>AccessDenied</h1>
            <p>You do not have permission to access the resource</p>
        </div>
    </div>
</div>

