@model Auth.Models.ViewModels.Auth.ResetPasswordVW
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row d-flex flex-row">
    <div class="col-md-3 primary-text">
        @*<p class="primary-text">@ViewData["Title"]</p>*@
    </div>
    <div class="col-md-9  d-flex flex-row-reverse card-stitle">
        <a class="primary-text d-flex align-items-center" asp-action="Index">
            <i class="ri-arrow-left-s-line"></i> <span>Back to Users list</span>
        </a>
    </div>
</div>
<div class="row shadow-lg mt-2">
    <div class="card ">
        <div class="card-body ">
            <div class="form-group">
                <form method="post" asp-action="AdminResetPassword">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <input asp-for="Id" hidden />
                    <div class="col-md-6 mb-3">
                        <label class="mb-1">Password</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="mb-1">Confirm Password</label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    </div>
                    @*<div class="row d-flex flex-column">
                        <div class="col-md-6 gap-3 d-md-flex mb-4 justify-content-md-start">
                            <a class="btn btn-lg primary-outline-btn me-md-2 btn-save" type="button" asp-action="Index">Cancel</a>
                            <button class="btn btn-lg btn-primary primary-bg btn-save" type="submit">Save</button>
                        </div>
                    </div>*@
                    <div class="col-md-6 mb-2 d-flex justify-content-end mt-3">
                        <a type="button" class="btn btn-outline-primary-2" asp-action="Index">Cancel</a>
                        <button type="submit" class="btn btn-primary-2 ms-2">Save</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>






