
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="email-confirm">
    <i class="ri-mail-unread-line"></i>
    <h1>Email Confirmation</h1>
    <p>A verification email has been sent to your email</p>
    <p> Please verify to access your account</p>
</div>