@model Auth.Models.ViewModels.Auth.ForgotPasswordVM;
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<partial name="_LogoHeaderPartial" />

<form method="post">
    <div class="form-group">
        <ion-icon name="mail-outline"></ion-icon>
        <input class="form-control" type="text" placeholder="Email" asp-for="Email" />
    </div>

    <button class="btn primary w-100">Submit</button>
</form>


