
@{
    ViewData["Title"] = "Verification";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="email-confirm">
    <i class="ri-rotate-lock-fill"></i>
    <h1>Can’t login</h1>
    <p>Waiting Application Approval</p>
</div>